{
    "extends": "@apify",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "camelcase": 0,
        "max-len": 0,
        "no-underscore-dangle": 1,
        "no-empty": 1,
        "no-unused-vars": 1
    }
}
